/* Global styles */
* {
    color: hsl(0, 0%, 0%, .85); /* Text color */
    font-family: "Lexend", sans-serif; /* Font family */
    font-optical-sizing: auto; /* Optical sizing */
    font-style: normal; /* Normal font style */
    font-weight: 300 !important; /* Default font weight */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

/* Styles for the home container */
.home {
    display: flex; /* Flex container */
    flex-direction: column; /* Column layout */
    gap: 2rem; /* Spacing between children */
    padding: 1rem 0; /* Padding */
}

/* Styles for the search bar */
.search-bar {
    margin: 2rem 2rem; /* Margin */
    display: flex; /* Flex container */
    flex-direction: row; /* Row layout */
    gap: 1rem; /* Spacing between items */
    flex-wrap: wrap; /* Allow wrapping */
    align-items: flex-end; /* Align items at the bottom */
    background-color: transparent; /* Transparent background */
    width: 80%; /* 80% width */
    margin: auto; /* Center horizontally */
}

/* Styles for the autocomplete components */
.search-bar .MuiAutocomplete-root {
    flex: 1 1 100px; /* Flexible width */
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    .search-bar .MuiAutocomplete-root {
        flex: 1 1 20%; /* Allow full width for smaller screens */
    }
}

/* Styles for grouped demo */
.grouped-demo {
    margin: 2px 5px 2px 0 !important; /* Margin */
    font-family: "Lexend", sans-serif; /* Font family */
    border-radius: 20px; /* Border radius */
}

/* Styles for job section */
.jobs_sec {
    width: 80%; /* 80% width */
    margin: auto; /* Center horizontally */
    padding-bottom: 4rem !important; /* Padding bottom */
    display: flex;
    flex-direction: column;
    gap: 0;
}

.no-more-jobs{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    padding: 2rem 0;
}
/* Styles for job list */
.job-list {
    padding: 1rem 0rem; /* Padding */
    padding-bottom: 8rem; /* Padding bottom */
    display: grid; /* Grid layout */
    grid-template-columns: repeat(3, minmax(300px, 1fr)); /* 3 cards per row by default */
    gap: 0px; /* Gap between cards */
    row-gap: 80px; /* Gap between rows */
    width: 100%; /* Full width */
    height: auto;
    margin: auto; /* Center horizontally */
}

/* Media query for medium screens */
@media (max-width: 1024px) {
    .job-list {
        padding: 1rem 0rem; /* Padding */
        width: fit-content; /* Fit content width */
        margin: auto; /* Center horizontally */
        grid-template-columns: repeat(2, minmax(250px, 1fr)); /* 2 cards per row for medium screens */
    }
}

/* Styles for job card */
.job-card {
    margin: 20px 20px 40px 20px !important; /* Margin */
}

/* Media query for small screens */
@media (max-width: 768px) {
    .job-list {
        padding: 1rem 0rem; /* Padding */
        grid-template-columns: repeat(1, minmax(100%, 1fr)); /* 1 card per row for small screens */
    }
    .job-card {
        width: 280px !important; /* Set width */
    }
}

/* Media query for medium screens */
@media (min-width: 768px) and (max-width: 1024px) {
    .job-list {
        padding: 1rem rem; /* Padding */
        grid-template-columns: repeat(2, minmax(50%, 1fr)); /* 2 cards per row for medium screens */
    }
}

/* Styles for null jobs error */
.nulljobs_error {
    display: flex; /* Flex container */
    flex-direction: column; /* Column layout */
    text-align: center; /* Center text */
    width: 80vw; /* 80% viewport width */
}

/* Styles for null jobs error span */
.nulljobs_error > span {
    font-size: 40px; /* Font size */
    padding: 1rem; /* Padding */
}

/* Styles for null jobs error paragraph */
.nulljobs_error > p {
    font-size: 15px; /* Font size */
    font-weight: 400 !important; /* Font weight */
}
